exportPattern("^[^\\.]")
export(laplacian_eigenmap)
export(weighted_graph)
export(plot_degree_dist)
export(cluster_embedding)
export(fit_pseudotime)
export(plot_embedding)
export(plot_in_pseudotime)
export(reverse_pseudotime)
export(plot_heatmap)
export(plot_graph)
export(fit_pseudotime_model)
export(fit_null_model)
export(plot_pseudotime_model)
export(compare_models)
